@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.container {
    width: 90%;
    margin: 0 auto;
}
body {
    background: #ccc;
}
.header {
    height: 80px;
    background: #fff;
    padding: 20px 0;
    position: relative;
}
.nav-bar {
    display: flex;
    justify-content: space-between;
}
.nav-bar img {
    position: relative;
    height: 60px;
}
ul {
    display: flex;
    list-style: none;
    line-height: 30px;
}
ul li {
    margin: 0 20px;
}
ul li a {
    color: #000;
    position: relative;
    font-size: 12px;
    text-decoration: none;
    font-weight: 600;
}

ul li a::before {
    position: absolute;
    content: '';
    left: 0;
    width: 100%;
    height: 1.5px;
    background-color: #000;
    bottom: -5px;
    transition: 0.4s transform;
    transform: scaleX(0);
    transform-origin: right;
}
ul li a:hover::before {
    transform: scaleX(1);
    transform-origin: left;
}